.o-footer{
    background-color: hsl(192, 100%, 9%);
    color:white;
    padding: 140px 120px 55px 120px;
    display: flex;
    align-items:flex-start;
    justify-content: space-between
}

.contact-info{
    width: 400px;
    font-size: 15px;
}

.o-huddle-logo {
    width: 220px;
    margin-bottom: 12px;
}

.o-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

.o-location img{
    margin-bottom: 2.5rem;
}

.o-info-links{
    margin-top: 45px;
    padding: 0;
    line-height: 45px;
    list-style: none;
}

.o-info-links a{
    color: white;
    text-decoration: none;
}

.o-info-links a:hover {
    text-decoration:underline;
}

.o-social-container{
    width: auto;
    height: 365px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.o-social-container p{
    font-size: 14px;
}

.o-social-icons{
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.3rem;
    width: 2.3rem;
    margin-top: 44px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    text-decoration:none;
}

.icon-container:hover {
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
}

@media only screen and (max-width: 600px) {
    .o-footer {
        padding: 140px 20px 55px 20px;
        flex-direction: column;
        font-size: 24px;
    }

    .contact-info {
        width: 450px;
        margin-bottom: 80px;
        font-size: 21px;
    }

    .o-flex {
        gap: 40px;
    }

    .o-info-links {
        margin: 0;
    }

    .o-social-container {
        width: 560px;
        height: 200px;
        align-items: center;
        justify-content: space-around;
    }

    .icon-container {
        height: 2.9rem;
        width: 2.9rem;
    }

    .o-social-icons {
        width: 35%;
    }

    .o-social-container p {
        font-size: 18px;
    }

}